AUTH_USER=admin
AUTH_PASS=<CHANGE-ME>
API_KEY=<CHANGE-ME>

PORT=3000
MC_PORT=3001
MC_ALLOWED_HOSTS=localhost,127.0.0.1
MC_COOKIE_SAMESITE=strict

OPENCLAW_INSTANCE_NAME=openclaw-xunf
OPENCLAW_INSTANCE_NAME_POSTFIX=-openclaw-1
OPENCLAW_NETWORK=openclaw-ai

OPENCLAW_INTERNAL_GATEWAY_PORT=51299
OPENCLAW_PUBLIC_GATEWAY_PORT=51299
OPENCLAW_GATEWAY_TOKEN=<CHANGE-ME>
OPENCLAW_TOOLS_PROFILE=coding